body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 40%;
  background: linear-gradient(180deg, #1c1c2b, #0f172a);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left h2 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 1px;
}

.left img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 12px;
}

.nav-buttons {
  margin-top: 10px;
}

.right {
  width: 60%;
  padding: 30px;
  background: #262626;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.notes {
  margin-top: 20px;
  background: #1f1f1f;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.notes textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background: #2c2c2c;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.bottom {
  margin-top: 20px;
}

.nav-buttons {
  margin-top: 10px;
}

.nav-buttons button {
  background: transparent;
  border: 1px solid #555;
  color: white;
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background: #333;
}

.date-text {
  display: flex;
  flex-direction: column;
}

.year {
  font-size: 14px;
  color: #4da6ff;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .left img {
    height: 200px;
    object-fit: cover;
  }

  .calendar {
    padding: 10px;
  }

  .grid {
    gap: 5px;
  }
}